	body {
	margin: 0;
	padding: 0;
	/*background-color:#e3e3e3;
    */
}

.logo-container {
	margin: 0px auto;
	width: 1000px;
	height: 100px;
	background-color: white;
}

.logo {
	background-image: url(https://cdn1.flamp.ru/0ee85698f5036b3f350979cd1089f44c.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	/*центрируем элемент по горизонтали */
	align-items: center;
	/* и вертикали */
	width: 100px;
	/* задали размеры блоку-родителю */
	height: 100px;
	float: left;
}

.main {
	text-align: center;
	height: 100px;
	width: 900px;
	/*background-color:red;
    */
	float: left;
}

.main a {
	float: left;
	width: 170px;
	height: 100px;
	line-height: 100px;
	text-decoration:none;
	font-size:1.1em;
	color:black;
}

.container {
	margin: 0px auto;
	width: 1200px;
	background-color: red;
}

.container div {
	float: left;
	margin-top: 15px;
	width: 337.26px;
	height: 420px;
	/*background-color:yellow;
    */
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.left-block {
	margin-left: 20px;
}

.mid-left-block {
	margin-left: 50px;
}

.mid-right-block {
	margin-left: 50px;
}

.right-block {
	margin-left: 50px;
}

.image {
	width: 337.26px;
	height: 260.04px;
	margin-left:0px;
	margin-top: 0px;
	border-radius:10px 10px 0px 0px;
}

.container div:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.index {
	margin-top: 173px;
	margin-left: 3px;
}
.div_h2{
	margin-left:10px;
	margin-top:40px;
	color: #404040;
}
.div_h2_correct{
	margin-left:10px;
	margin-top:22px;
	color: #404040;
}

/* БЛОК ДОСТАВКИ*/

.dostavka_h1 {
	margin-left: 40%;
	color: #404040;
}

.weight {
	font-weight: 900;
}

.height {
	font-size: 20px;
}

.dosca {
	position: absolute;
	z-index: 2;
	margin-left: 875px;
	margin-top: -700px;
}

td {
	height: 30px;
	padding: 5px;
	padding: 5px;
	/* Поля вокруг текста */
	border: 2px solid #757575;
	/* Рамка вокруг ячеек */
}

th {
	height: 45px;
	padding: 5px;
	padding: 5px;
	/* Поля вокруг текста */
	border: 2px solid #757575;
	/* Рамка вокруг ячеек */
}

table {
	border-collapse: collapse;
	/* Убираем двойные границы между ячейками */
	background: #e3e3e3;
	/* Цвет фона таблицы */
	border: 2px solid #757575;
	/* Рамка вокруг таблицы */
}


/* БЛОК АКЦИЙ*/

.container_akcii {
	margin: 0px auto;
	width: 1300px;
}

.container_akcii div {
	float: left;
	margin-top: 25px;
	width: 350px;
	height: 370px;
	/*background-color:yellow;
    */
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.akcii_h1 {
	margin-left: 350px;
}

.image_akcii {
	height: 250px;
	width: 300px;
	margin-left: 25px;
	margin-top: 15px;
}

.left-block_akcii {
	margin-left: 20px;
}

.mid-block_akcii {
	margin-left: 50px;
}

.right-block_akcii {
	margin-left: 50px;
}

.div_h1 {
	margin-left: 25px;
	margin-top: -5px;
	color: #404040;
}

.akcii-p-left-block {
	margin-top: -15px;
	margin-left: 10px;
}


/* БЛОК НОВОСТЕЙ*/

.div_h1_novosti {
	font-size: 27px;
	margin-left: 25px;
	margin-top: -5px;
	color: #404040;
}

.novosti-p-left-block-high {
	margin-top: -15px;
	margin-left: 20px;
}

.novosti-p-left-block-low {
	margin-top: -5px;
	margin-left: 13px;
}

.container_novosti {
	margin: 0px auto;
	width: 1450px;
	background-color: red;
}

.container_novosti div {
	float: left;
	margin-top: 25px;
	/*background-color:yellow;
    */
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.left-block_novosti {
	margin-left: 20px;
	width: 350px;
	height: 370px;
}

.mid-block_novosti {
	margin-left: 50px;
	width: 450px;
	height: 109px;
}

.right-block_novosti {
	margin-left: 50px;
	width: 430px;
	height: 500px;
}

.div_h1-novosti {
	margin-left: 25px;
	margin-top: 10px;
	color: #404040;
	font-size: 27px;
}

.novosti-p-left-block {
	margin-top: -10px;
	margin-left: 10px;
	font-size: 19px;
}

.div_h1_novosti_right {
	margin-left: 25px;
	margin-top: 10px;
	color: #404040;
	font-size: 27px;
}

.novosti-p-right-block-high {
	margin-top: -8px;
	margin-left: 20px;
	font-size: 20px;
}

.novosti-p-right-block-low {
	margin-top: -8px;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.novosti-p-right-block-table {
	margin-top: -8px;
	margin-left: 20px;
	font-size: 20px;
}


/* БЛОК О НАС*/

.onas_h1_high {
	margin-left: 45% ;
}

.onas-text-div {
	width: 1000px;
	margin: 0px auto;
}

.onas_h1 {
	margin-left: 75px;
}

.onas-text {
	font-size: 18px;
	color: #1f1f1f;
	font-family: Arial;
	margin-top: 2px;
}

.onas-text-medium {
	color: #2e2e2e;
}
